<div class="post-page">
    <div class="container">
        <div class="posts">
          <div class="post-item">
            <div class="buttons">
              <div class="button-item">
                <a href="">
                  <img src="assets/icons/arrow-up.svg" alt="" srcset="">
                </a>
                <p>35.5k</p>
              </div>
              <div class="button-item">
                <a href="">
                  <img src="assets/icons/arrow-down.svg" alt="" srcset="">
                </a>
                <p>35.5k</p>
              </div>
            </div>
            <div class="content">
              <div class="content-header">
                <p>Posted by <span class="post-author">Munashif Muhsin</span> <span class="posted-time">14 Hours ago</span></p>
              </div>
              <div class="content-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo assumenda aut dolor obcaecati, iure, quas iste accusantium reiciendis eaque perferendis maxime laborum sint mollitia neque delectus nesciunt praesentium voluptas eligendi?
                </p>
              </div>
              <div class="content-footer">
                <a class="comments" [routerLink]="['/post']">
                  24 Comments
                </a>
              </div>
            </div>
          </div>

          <div class="comment-block">
            <p>Comment as Munashif Muhsin</p>
            <div class="comment-box">
              <textarea name="" id="" rows="5" placeholder="What do you think?"></textarea>
            </div>
            <button class="submit">
              Comment
            </button>
          </div>


          <div class="comments">
            <div class="comment">
              <div class="comment-header">
                <p>Munashif Muhsin <span>13 Hours ago.</span> </p>
              </div>
              <div class="comment-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis rerum tempore expedita praesentium voluptatibus harum, culpa delectus ad facilis fugit magni aut veniam eligendi. Eius similique rerum eligendi sint cupiditate!</p>
              </div>
              <div class="comment-footer">
                  <a href=""> Reply</a> <a href=""> Like</a> <a href="">Dislike</a> 
              </div>
             

              <div class="reply-comments">
                  <div class="comment-block">
                      <p>Comment as Munashif Muhsin</p>
                      <div class="comment-box">
                        <textarea name="" id="" rows="5" placeholder="What do you think?"></textarea>
                      </div>
                      <button class="submit">
                        Comment
                      </button>
                    </div>
                    <div class="comment">
                        <div class="comment-header">
                          <p>Munashif Muhsin <span>13 Hours ago.</span> </p>
                        </div>
                        <div class="comment-body">
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis rerum tempore expedita praesentium voluptatibus harum, culpa delectus ad facilis fugit magni aut veniam eligendi. Eius similique rerum eligendi sint cupiditate!</p>
                        </div>
                        <div class="comment-footer">
                          <a href=""> Like</a> <a href="">Dislike</a> 
                        </div>

              </div>
            </div>
          </div>

          <div class="comment">
              <div class="comment-header">
                <p>Munashif Muhsin <span>13 Hours ago.</span> </p>
              </div>
              <div class="comment-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis rerum tempore expedita praesentium voluptatibus harum, culpa delectus ad facilis fugit magni aut veniam eligendi. Eius similique rerum eligendi sint cupiditate!</p>
              </div>
              <div class="comment-footer">
                  <a href=""> Reply</a> <a href=""> Like</a> <a href="">Dislike</a> 
              </div>
             

              <div class="reply-comments">
                  <div class="comment-block">
                      <p>Comment as Munashif Muhsin</p>
                      <div class="comment-box">
                        <textarea name="" id="" rows="5" placeholder="What do you think?"></textarea>
                      </div>
                      <button class="submit">
                        Comment
                      </button>
                    </div>
                    <div class="comment">
                        <div class="comment-header">
                          <p>Munashif Muhsin <span>13 Hours ago.</span> </p>
                        </div>
                        <div class="comment-body">
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis rerum tempore expedita praesentium voluptatibus harum, culpa delectus ad facilis fugit magni aut veniam eligendi. Eius similique rerum eligendi sint cupiditate!</p>
                        </div>
                        <div class="comment-footer">
                          <a href=""> Like</a> <a href="">Dislike</a> 
                        </div>

              </div>
            </div>
          </div>

        </div>
      </div>


</div>