<div class="post-page">
    <div class="container">
        <div class="posts" *ngIf="post">
          <div class="post-item">
            <div class="buttons">
              <div class="button-item" (click)="togglelike(post.id)">
                <a>
                  <img src="assets/icons/arrow-up.svg" alt="" srcset="">
                </a>
                <p>{{post.likesCount}}</p>
              </div>
              <div class="button-item" (click)="toggleDislike(post.id)">
                <a>
                  <img src="assets/icons/arrow-down.svg" alt="" srcset="">
                </a>
                <p>{{post.disLikesCount}}</p>
              </div>
            </div>
            <div class="content">
              <div class="content-header">
                <p>Posted by <span class="post-author">{{post.author.name}}</span> <span class="posted-time">{{post.formattedDate}}</span></p>
              </div>
              <div class="content-body">
                <p>{{post.content}}</p>
              </div>
              <div class="content-footer">
                <a class="comments">
                  {{post.comments.length}} Comments
                </a>
              </div>
            </div>
          </div>

          <div class="comment-block" *ngIf="isLoggedIn == true">
            <p *ngIf="currentUser">Comment as {{currentUser.name}}</p>
            <div class="comment-box">
              <textarea name="" id="" rows="5" placeholder="What do you think?"  [(ngModel)]="comment"></textarea>
            </div>
            <button class="submit" (click)="addComment()">
              Comment
            </button>
          </div>

          <div class="comment-block" *ngIf="isLoggedIn == false">
            <p>Sing in to comment</p>
          </div>


          <div class="comments" *ngIf="post.comments.length > 0">
            <div class="comment" *ngFor="let commentItem of post.comments">
              <div class="comment-header">
                <p>{{commentItem.username}} <span>{{commentItem.formattedDate}}</span> </p>
              </div>
              <div class="comment-body">
                <p>{{commentItem.content}}</p>
              </div>
              <div class="comment-footer">
                  <a (click)="toggleReply(commentItem.id)"> Reply</a> 
                  <a (click)="toggleCommentLike(commentItem.id)"><span *ngIf="commentItem.likesCount > 0">{{commentItem.likesCount}}</span> Like<span *ngIf="commentItem.likesCount > 1">s</span> </a> 
                  <a (click)="toggleCommentDislike(commentItem.id)"><span *ngIf="commentItem.disLikesCount > 0">{{commentItem.disLikesCount}}</span> Dislike<span *ngIf="commentItem.disLikesCount > 1">s</span> </a> 
              </div>
             

              <div class="reply-comments" >
                  <div class="comment-block" *ngIf="isLoggedIn == true && showReplyBoxId == commentItem.id">
                      <p *ngIf="currentUser">Comment as {{currentUser.name}}</p>
                      <div class="comment-box">
                        <textarea name="" id="" rows="5" placeholder="What do you think?" [(ngModel)]="reply"></textarea>
                      </div>
                      <button class="submit" (click)="addReply(commentItem.id)">
                        Comment
                      </button>
                    </div>
                    <div class="comment-block" *ngIf="isLoggedIn == false  && showReplyBoxId == commentItem.id">
                        <p>Sing in to comment</p>
                      </div>
                    <div class="comment" *ngFor="let replyItem of commentItem.replies">
                        <div class="comment-header">
                          <p>{{replyItem.username}} <span>{{replyItem.formattedDate}}</span> </p>
                        </div>
                        <div class="comment-body">
                          <p>{{replyItem.content}}</p>
                        </div>
                        <div class="comment-footer">
                            <a (click)="toggleReplyLike(replyItem.id, commentItem.id)"><span *ngIf="replyItem.likesCount > 0">{{replyItem.likesCount}}</span> Like<span *ngIf="replyItem.likesCount > 1">s</span> </a> 
                            <a (click)="toggleReplyDislike(replyItem.id, commentItem.id)"><span *ngIf="replyItem.disLikesCount > 0">{{replyItem.disLikesCount}}</span> Dislike<span *ngIf="replyItem.disLikesCount > 1">s</span> </a> 
                        </div>

              </div>
            </div>
          </div>

        </div>
      </div>


</div>