<div class="home-page">

  <div class="container">
    <div class="welcome-message">
      <p>Hello Munashif Muhsin</p>
    </div>
    <div class="welcome-message">
        <p>Hello! login to comment.</p>
      </div>
    <div class="posts">
      <div class="post-item">
        <div class="buttons">
          <div class="button-item">
            <a href="">
              <img src="assets/icons/arrow-up.svg" alt="" srcset="">
            </a>
            <p>35.5k</p>
          </div>
          <div class="button-item">
            <a href="">
              <img src="assets/icons/arrow-down.svg" alt="" srcset="">
            </a>
            <p>35.5k</p>
          </div>
        </div>
        <div class="content">
          <div class="content-header">
            <p>Posted by <span class="post-author">Munashif Muhsin</span> <span class="posted-time">14 Hours ago</span></p>
          </div>
          <div class="content-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo assumenda aut dolor obcaecati, iure, quas iste accusantium reiciendis eaque perferendis maxime laborum sint mollitia neque delectus nesciunt praesentium voluptas eligendi?
            </p>
          </div>
          <div class="content-footer">
            <a class="comments" [routerLink]="['/post']">
              24 Comments
            </a>
          </div>
        </div>
      </div>
      <div class="post-item">
          <div class="buttons">
            <div class="button-item">
              <a href="">
                <img src="assets/icons/arrow-up.svg" alt="" srcset="">
              </a>
              <p>35.5k</p>
            </div>
            <div class="button-item">
              <a href="">
                <img src="assets/icons/arrow-down.svg" alt="" srcset="">
              </a>
              <p>35.5k</p>
            </div>
          </div>
          <div class="content">
            <div class="content-header">
              <p>Posted by <span class="post-author">Munashif Muhsin</span> <span class="posted-time">14 Hours ago</span></p>
            </div>
            <div class="content-body">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo assumenda aut dolor obcaecati, iure, quas iste accusantium reiciendis eaque perferendis maxime laborum sint mollitia neque delectus nesciunt praesentium voluptas eligendi?
              </p>
            </div>
            <div class="content-footer">
              <a class="comments">
                24 Comments
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>

</div>


