<div class="home-page">

  <div class="container">
    <div class="welcome-message" *ngIf="isLoggedIn == true">
      <p>Hello Munashif Muhsin</p>
      <button class="create-post" (click)="isCreatePostModalShown = true">
        New Post
      </button>
    </div>
    <div class="welcome-message" *ngIf="isLoggedIn == false">
      <p>Hello! login to comment.</p>
    </div>
    <div class="posts">
      <div class="post-item" *ngFor="let item of posts">
        <div class="buttons">
          <div class="button-item" (click)="togglelike(item.id)">
            <a>
              <img src="assets/icons/arrow-up.svg" alt="" srcset="">
            </a>
            <p>{{item.likesCount}}</p>
          </div>
          <div class="button-item" (click)="toggleDislike(item.id)">
            <a>
              <img src="assets/icons/arrow-down.svg" alt="" srcset="">
            </a>
            <p>{{item.disLikesCount}}</p>
          </div>
        </div>
        <div class="content">
          <div class="content-header" *ngIf="item.author">
            <p>Posted by <span class="post-author">{{item.author.name}}</span> <span
                class="posted-time">{{item.formattedDate}}</span></p>
          </div>
          <div class="content-body">
            <p>
              {{item.content}}
            </p>
          </div>
          <div class="content-footer">
            <a class="comments" *ngIf="item.comments.length > 0">
              {{item.comments.length}} Comments
            </a>
            <a class="comments" *ngIf="item.comments.length == 0">
              Add Comment
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="model-backdrop" [hidden]="!isCreatePostModalShown" (click)="hideModal()">

  <div class="create-post-modal" (click)="$event.stopPropagation()">

    <form>
      <div class="form">
        <div class="input-group">
          <textarea rows="5" placeholder="What do you have in Mind?" [(ngModel)]="newpost.content" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
        <button class="submit" (click)="validate()">Post</button>
        <p class="error-message">
          {{errorMessage}}
        </p>
      </div>
    </form>

  </div>

</div>
